<!DOCTYPE html>
<html>
    <head>
        <!-- head -->
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}{{ config.site_title }}{% endblock %}</title>
        {% endblock %}

        <!-- styles -->
        {% block styles %}{% endblock %}

        <!-- scripts -->
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <!-- body_start -->
        {% block body_start %}{% endblock %}

        <!-- body -->
        {% block body %}{% endblock %}

        <!-- body_end -->
        {% block body_end %}{% endblock %}
    </body>
</html>
