{% extends 'base.html.twig' %}

{% block title %}Blog Index - {{ config.site_title }} {% endblock %}

{% block body %}
    <h1>layout.html.twig</h1>

    {% block page_contents %}{% endblock %}
{% endblock %}
